# Python virtual environment
.venv/
venv/
ENV/

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Operating System files
.DS_Store
Thumbs.db
